#mainListing{
    max-width: 110rem;
    margin: 8rem auto 3rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.filter_modal{
    width: 15%;
    position: relative;
}
.flt_btn{
    font-size: 1.7rem;
    padding: .5rem 1.7rem;
    background: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    position: sticky;
    top: 8rem;
}
.flt_tab{
    position: relative;
}
.flt_tab .react-tabs{
    display: flex;
}
.flt_tab .react-tabs__tab-list{
    display: flex;
    flex-direction: column;
    border: none;
    background: #e0e0e0;
    min-height: 22rem;
    width: 25%;
}
.flt_tab .react-tabs__tab-panel{
    width: 70%;
}
.flt_tab .react-tabs__tab{
    border: none;
    bottom: 0px  !important;
    transition: .3s ease;
}
.flt_tab .react-tabs__tab--selected{
    border-radius: 0;
    border:none;
    position: relative;
}
.flt_tab .react-tabs__tab--selected::before{
    content: '';
    position: absolute;
    left: 0;
    border-left: 2px solid #000;
    height: 100%;
    top: 0;
}
.mdl_flt_wrp{
    position: relative;
}
.cls_mdl{
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 5px;
}
.flt_ttl{
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.7rem;
    line-height: 1;
}
.apply_btn{
    position: absolute;
    right: 0;
    bottom: -30%;
    background: #000;
    color: #fff;
    font-size: 1.7rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 14px;
    line-height: 1;
}


/* #filter{
    height: 470px;
    width: 20%;
    border-radius: 20px;
    border: 2px solid #d5d5d5;
} */
#content{
    width:80%;
    margin: 0 auto 0 auto;
}

.lst_item {
    margin-bottom: 2rem;
    gap: 1rem;

}
.lst_anc{
    padding: 2rem;
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    transition:all 300ms ease;
}
.lst_anc:hover,
.lst_anc:focus{
    text-decoration:none;
    box-shadow: 0px 0px 8px 0px #e0e0e0;
}
.lst_wrap{
    display: flex;
}
.lst_col_img{
    max-width: 33rem;
    width:100%;
    height: 24rem;
    position: relative;
}
.lst_col_cnt{
    padding: 4rem;
}
.hotel_img{
    position: relative;
    width: 100%;
    height: 100%; 
}


.hotel_img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #e0e0e0;
}

.hotel_name {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    color: #000;
    margin: 0 0 1rem 0;
}

.city_name {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    color: #000;
    margin: 0 0 1rem 0;
}

.rating {
    line-height: 5.4;
}

.labelDiv{
    margin-top: 1rem;
    font-size: 1.7rem;
}

.rating_txt {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #32cc56;
    width: 5rem;
    height: 2.4rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    line-height: 1;
}
.rating_txt i{
    font-size: 1rem;
    margin-left: 0.4rem;
}
.fl_mn h3{
    text-align: center;
    font-size: 2.2rem;
}
.flt_ttl h3{
    text-align: center;
    font-size: 1.8rem;
}
.flt_wp{
    margin-left: 20%;  
}
.flt_wp label{
    font-size: 1.4rem; 
    font-weight: 500;
    color: #3b3b3b;
    cursor: pointer;
}
.flt_wp input{
    width:1rem;
    height: 1rem;
}



/* Modal */
.ReactModal__Overlay{
    background-color: #201d1dbf !important;
    z-index: 9999;
}
.ReactModal__Content{
    margin-top: 5rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

/* Media Query */
@media only screen and (max-width: 1280px){
    #mainListing{
        padding:0 2rem;
    }
}
@media only screen and (max-width: 1200px){
    .lst_wrap{
        gap: 2rem;
        align-items: center;
    }

    .lst_col_cnt {
        padding: 0rem;
    }
    .lst_col_img{
        max-width: 30rem;
        width: 100%;
        height: 20rem;
    }
    .city_name{
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    .flt_wp label{
        font-size: 1.2rem;
    }
    .flt_ttl h3 {
        font-size: 1.5rem;
    }
    .fl_mn h3 {
        font-size: 2rem;
    }
    #filter{
        height: 400px;    
    }
}