#quickSearch{
    width: 80%;
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;  
}
.meal_type_con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.mealTypewp{
    width: 31%;
    margin-bottom: 30px;
    transition:transform 500ms ease-in;
}
.mealType{
    
}
.mealTypewp:hover{
    transform: scale(1.05);
}
#QuickHeading{
    color:#000;
    font-size:30px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}

#QuickSubHeading{
    font-family: 'Poppins', sans-serif;
    color:#000;
    font-size:20px;
    line-height:1;
}

.tileContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tileComponent1{
    width: 100%;
    height: 16rem;
    border-radius: 1.2rem 1.2rem 0 0;
}

.tileComponent1>img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.tileComponent2{
    width: 100%;
    padding: 1rem 2rem 1.6rem;
    background: white;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0px 0px 1.2rem 1.2rem;
    box-sizing: border-box;
}

.componentHeading{
    color:#363636;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
}

.componentSubHeading{
    color:#4f4f4f;
    font-weight: 400;
    font-size: 1.4rem;
}
.componentSubHeading p{
    margin: 0;
}
.mealType:focus,
.mealType:hover{
    text-decoration: none;
}

/* Media query */
@media only screen and (max-width: 1280px){
    #QuickHeading{
        font-size: 25px;
    }
    #QuickSubHeading{
        font-size: 17px;  
    }
    .componentHeading{
        font-size: 1.7rem;
        line-height: 2.4rem;
    }
}
@media only screen and (max-width: 1200px){
    #quickSearch{
        width: 100%;
        padding: 0 2rem;
    }
}