#search{
    width: 100%;
    background-image: url(../../../public/images/search-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 30rem);
    min-height: 42rem;
    max-height: 57rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 5rem 0 0 0;
}
.search-wrap{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.logo h1{
    font-size: 83px;
    font-weight: 600;
    color: #fff;
    line-height: 83px;
    font-family: 'Metrophobic', sans-serif;
    text-align: center;
    margin: 0;
}
.search-container{
    border-width: 0px;
    margin-top: 30px;
}
.sr-con-wp{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
}
.sc-city{
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: 250px;
    border-radius: 10px;
    padding: 0px 10px;
    -webkit-box-align: center;
    align-items: center;
}
.sc-rest{
    border-radius: 10px;
    width: 480px;
    height: 100%;
    display: flex;
    position: relative;
    padding-right: 10px;

}
.sc-city span{
    color: #ff7e8b;
    background: transparent;
    font-size: 20px;
}
.sc-rest span{
    color: #828282;
    background: transparent;
    font-size: 20px;
}
.sr-slct{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: none;
    outline: none;
    margin: 0 10px;
    width: 100%;
    border-radius: 10px;
    font-family: 'Poppins';
}
.sr-slct-rst{
    margin: 0;
}
.sr-ln{
    width: 0rem;
    height: 20px;
    border: 1px solid rgb(207, 207, 207);
}
.sr-rst-icon{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#heading h2{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
select{
    font-size:15px;
}

/* Media query */
@media only screen and (max-width: 1280px) {
    .logo h1{
       font-size: 70px;
       line-height: 73px;
    }
    #heading h2{
        margin-top: 25px;
        font-size: 26px;
    }
    .search-container{
        margin-top: 25px;
    }
    .sr-con-wp{
        height: 44px;
    }
    .sc-city{
        width: 230px;  
    }
    .sc-rest{
        width: 460px;  
    }
    .sc-rest span{
        font-size: 17px;
    }
  }
  @media only screen and (max-width: 767px){
    .sr-con-wp{
        width: 30rem;
        flex-direction: column;
        gap: 3rem;
        background: transparent;
        border-radius: 10px;
        /* box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px; */
        border: none;
        height: auto;
    }
    .sc-city,
    .sc-rest{
        width: 100%;
        height: 4rem;
        background-color: #fff;
    }
    .sr-ln{
        display: none;
    }
  }