footer{
    width: 100%;
    background-color: #f8f8f8;
}
.foot_con{
    display: flex;
    justify-content: space-between;
    max-width: 110rem;
    margin: 0 auto;
    padding: 5rem 0 1rem;
}
.ft_lg a{
    font-family: 'Metrophobic', sans-serif;
    color: #000;
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
}
.ft_lg a:hover,
.ft_lg a:focus{
    text-decoration: none;
    color: #000;
}
.ft_lg {
    margin-bottom: 2rem;
}

.ft_cn{
    margin-bottom: 1.4rem;
}
.ft_cn a{
    color: #000;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.ft_cn i{
    margin-right: 1rem;
}
.ft_cn a:hover,
.ft_cn a:focus{
    text-decoration: none;
}
.ft_ttl{
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px 0px 1.2rem;
}
.ft_cl ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.ft_cl li{
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: rgb(105, 105, 105);
    margin: 0.5rem 0px;
}
.ft_scl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ft_scl a{
    width: 2.4rem;
    height: 2.4rem;
    background: #000;
    border-radius: 100%;
    position: relative; 
}
.ft_scl i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: #fff;
}

.foot_cp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.cpt_msg{
    font-size: 1.5rem;
    color: #000;
}
.cpt_msg a{
    color: rgb(105, 105, 105);
    text-decoration: none;
}
/* ------Media query------ */
@media only screen and (max-width: 1280px) {
    .foot_con{
        padding: 5rem 2rem 1rem;
    }
    .ft_lg a{
        font-size: 38px;   
    }
  }
  @media only screen and (max-width: 768px){
    .ft_lg a {
        font-size: 30px;
    }
    .ft_cn a{
        font-size: 1.3rem
    }
    .ft_ttl{
        font-size: 1.3rem;
    }
    .ft_cl li{
        font-size: 1.3rem; 
    }
  }
  @media only screen and (max-width: 767px){
    .foot_con{
        flex-direction: column;
        gap: 3rem;
    }
    .ft_scl{
     justify-content: flex-start;
    gap: 1rem;   
    }
    .cpt_msg{
        font-size: 1.3rem;
    }
  }