.main{
    margin: 7rem 0 0 0;
}
.tileImage{
    max-width: 110rem;
    margin: 0 auto;
}

.imageClass{
    width: 100%;
    height: 30rem;
    background: #ccc;
}
.tileContent{
    max-width: 110rem;
    margin: 0 auto;
}
.imageClass img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.rest_name h1{
    font-size: 3rem;
    line-height: 1;
}
.cfeedback{
    color: #828282;
    margin-bottom: 1rem;
}
.avrg_rtng{
    color: #828282;
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.rtng_xt{
    background: #32cc56;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    width: 4.4rem;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}
.rtng_xt i{
    font-size: 1rem;
}
.rest_txt p{
    color: #828282;
    font-size: 1.4rem;
}
.rset_icon{
    margin-bottom: 2rem;
}
.icons{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
.icons >img{
    width: 100%;
    height:100%;
}
.tab_rest_name{
    font-size: 2.6rem;
}
.tab_rest_para{
    font-size: 1.5rem;
}
.tb_rs_add{
    font-size: 1.7rem;
}
.menu_cnt{
    background: #fffbf7;
    padding: 4rem 0 3rem 0;
    margin-top: 3rem;
}
.menu_ttl h3{
    text-align: center;
    font-size: 3rem;
    padding: 0 0 3rem 0;
    margin: 0;
    font-family: 'Metrophobic', sans-serif;
    font-weight: 600;
}
.menu_item_cnt{
    max-width: 110rem;
    margin: 0 auto;
}
.menu_rnd{
    margin-top: 3rem;
}
.menu_sngl{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.menu_col1{
    display: flex;
    gap: 1rem;   
}
.menu_id{
    width: 3rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #828282;
    border: 1px solid #828282;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.menu_col2{
    width: 25%;
}
.menu_img{
    width: 20rem;
    height: 17rem;
}
.menu_img img{
    width: 100%;
    height: 100%;
}
.menu_name,
.menu_price{
    font-size: 1.7rem;
}
.menu_sngl:last-child{
    margin-bottom: 0;
}
.rest_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.mnu_ord{
    padding: 2rem;
    border: 1px dashed #828282;
}
#stock{
    font-size: 30px;
    color:green
}

.button{
    height:48px;
    width:250px;
    font-size:20px;
}
#Atoc{
    background-color:green
}
